<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/css/semantic/dist/semantic.min.js"></script>
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-theme.css" type="text/css" rel="stylesheet"/>
    <title>TypeComp</title>
</head>
<body>
    <div class="ui four item menu">
        {{#equals navbarSelected 0}}
        <a class="active item" href="/">Home</a>
        <a class="item" href="compete">Compete</a>
        <a class="item" href="practice">Practice</a>
        {{#if user}}
        <a class="item" href="dashboard">Account</a>
        {{else}}
        <a class="item" href="users/login">Login</a>
        {{/if}}
        {{/equals}}
        {{#equals navbarSelected 1}}
        <a class="item" href="/">Home</a>
        <a class="active item" href="compete">Compete</a>
        <a class="item" href="practice">Practice</a>
        {{#if user}}
        <a class="item" href="dashboard">Account</a>
        {{else}}
        <a class="item" href="users/login">Login</a>
        {{/if}}
        {{/equals}}
        {{#equals navbarSelected 2}}
        <a class="item" href="/">Home</a>
        <a class="item" href="compete">Compete</a>
        <a class="active item" href="practice">Practice</a>
        {{#if user}}
        <a class="item" href="dashboard">Account</a>
        {{else}}
        <a class="item" href="users/login">Login</a>
        {{/if}}
        {{/equals}}
        {{#equals navbarSelected 3}}
        <a class="item" href="/">Home</a>
        <a class="item" href="compete">Compete</a>
        <a class="item" href="practice">Practice</a>
        {{#if user}}
        <a class="active item" href="dashboard">Account</a>
        {{else}}
        <a class="active item" href="users/login">Login</a>
        {{/if}}
        {{/equals}}

    </div>
  
    {{{body}}}



</body>








</html>